.sologn{
  font-family: Operetta 12;
  font-size: 0.586666rem;
  line-height: 159.85%;
  text-align: center;
  color: #957732;
  margin-top: 1.493333rem;
}
.content .banner1{
  margin-top: 1.76rem;
}
.content .banner1 img{
  width: 7.946666rem;
  height: 9.68rem;
}
/*  */
.sologn2{
	font-family: Operetta 12;
	font-size:0.533333rem;
	line-height: 159.85%;
	text-align: center;
	color: #957732;
	margin-top: 1.52rem;
}
/*  */
.content .order_img_group{
  margin: 0 auto;
  margin-top: 1.52rem;
  /* width: 6.933333rem; */
}
.content .order_img_group>div{
	display: flex;
	justify-content: space-around;
	margin-bottom:1.066666rem;
}
.content .order_img_group span{
  text-align: center;
  width: 1.866666rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .order_img_group span img{
  width: 1.493333rem;
  height: 1.173333rem;
  object-fit: contain;
}
.content .order_img_group span p{
  font-size: 0.32rem;
  text-align: center;
	margin-top: 0.426666rem;
  color: #8A8A8A;
}
/*  */
.content .order_btn{
  width: 5.493333rem;
  height: 1.146666rem;
  background: #C5C4E0;
  border-radius: 0.266666rem;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.293333rem;
  line-height: 1.146666rem;
  text-align: center;
  color: #957732;
  margin-top: 1.093333rem;
}
/*  */
.content .swiper_banner{
  margin: 0 auto;
	margin-top: 1.786666rem;
}
.content .swiper_banner img{
  height: 7.866666rem;
  width: 7.866666rem;
	margin-bottom: 1.066666rem;
}
/*  */
.content .discover img{
	height: 0.666666rem;
	width: 0.773333rem;
	object-fit: contain;
}
.content .discover{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.293333rem;
  line-height: 0.346666rem;
  color: #494949;
  height: 1.466666rem;
  justify-content: space-between;
  margin-bottom: 1.786666rem;
}
/*  */
.content .banner2{
  width: 7.866666rem;
  height: 14.8rem;
  /* background: rgba(0, 0, 0, 0.3); */
	background-image: url(../../image/homePage/bg_1.png);
	background-repeat: no-repeat;
	background-size: contain;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 1.493333rem;
}
.content .banner2 p:first-of-type{
  font-family: Operetta 12;
  font-size: 0.586666rem;
  line-height: 159.85%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #C5C4E0;
	margin-top: 1.6rem;
	
}
.content .banner2 p:nth-of-type(2){
  font-size: 0.373333rem;
  line-height: 172.5%;
  text-align: center;
  color: #FFFFFF;
	margin-top: 1.066666rem;
	margin-bottom:  1.066666rem;
}
.content .banner2>div{
  display: inline-block;
  padding: 0 0.533333rem;
  height: 1.146666rem;
  background: #C5C4E0;
  border-radius: 0.266666rem;
  cursor: pointer;
  font-size: 0.293333rem;
  line-height: 1.146666rem;
  text-align: center;
  letter-spacing: 0.15em;
  color: #957732;
  margin-bottom: 0.533333rem;
}
/*  */
.content .banner3{
  display: flex;
	flex-direction: column;
  margin-bottom: 0.4rem;
	width: 7.866666rem;
	align-items: center;
}
.content .banner3>img{
  height: 7.04rem;
  width:  7.04rem;
  object-fit: contain;
}
.content .banner3>div{
  box-sizing: border-box;
  background: #C5C4E0;
	width: 7.866666rem;
	height: 17.12rem;
  padding: 1.786666rem 0.773333rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.content .banner3>div>p:first-of-type{
  font-family: Operetta 12;
  font-size: 0.586666rem;
  line-height: 159.85%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #957732;
}
.content .banner3>div>p:nth-of-type(2){
  font-size: 0.373333rem;
  line-height: 164.5%;
  text-align: center;
  color: #494949;
	margin-top: 1.066666rem;
}
.content .banner3 .banner3_image_content{
	font-size: 0.293333rem;
	line-height: 164.5%;
	text-align: center;
	color: #957732;
}

.content .banner3 .banner3_image_content img{
	width: 0.933333rem;
	height: 0.586666rem;
	object-fit: contain;
	margin-top: 1.066666rem;
	margin-bottom: 0.266666rem;
}
.content .banner3>div>div:last-child{
  padding: 0 0.8rem;
  height: 1.146666rem;
  background: #957732;
  border-radius: 0.266666rem;
  cursor: pointer;
  font-size: 0.293333rem;
  line-height: 1.146666rem;
  text-align: center;
  color: #C5C4E0;
  margin-top: 1.093333rem;
}